<img  [ngStyle]="centralizarImagem()" class="maua" src="assets/maua.jpg">

<h2>Cursos</h2>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="assets/adm.jpg" alt="Curso de administração da Mauá">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Curso de administração da Mauá</h6>
            <h5 class="card-title">Administração</h5>

            <p class="card-text">O Administrador Mauá é um profissional preparado para atuar, sempre como líder, nos
                mais diversos mercados de trabalho: instituições financeiras, empresas de serviços, consultorias,
                comércio varejista ou atacadista e indústrias de diversos segmentos, como Automobilístico,
                Eletroeletrônico, Alimentício, entre outros. Os alunos desenvolvem, ao longo do curso, capacitação e
                treinamento para a tomada de decisões e para a resolução de problemas de gestão empresarial.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/alimentos.jpg" alt="Curso de engenharia de alimentos da Mauá">

        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Curso de engenharia de alimentos da Mauá</h6>
            <h5 class="card-title">Engenharia de Alimentos</h5>
            <p class="card-text">A área de produção de alimentos vem se desenvolvendo e a cada dia cresce a
                necessidade de profissionais especializados para atender essa demanda. O engenheiro de alimentos
                pode atuar nas mais diversas áreas relacionadas à cadeia alimentícia: Produção Industrial,
                Desenvolvimento de Produtos, Otimização de Processos, Garantia da Qualidade, Consultoria,
                Fiscalização ou até mesmo nas áreas comerciais e de marketing de produtos alimentícios.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/computacao.jpg" alt="Curso de engenharia da computação da Mauá">

        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Professor de engenharia da computação da Mauá</h6>
            <h5 class="card-title">Engenharia de Computação</h5>
            <p class="card-text">A graduação em Engenharia de Computação da Mauá oferece aos alunos uma formação com
                base nos conceitos fundamentais da Engenharia, até a formação especializada em Sistemas Embarcados,
                Software, Infraestrutura e Segurança, Ciência de Dados e suas inter-relações.</p>
        </div>
    </div>
</div>
<app-add-curso (adiciona)="adicionar($event)"></app-add-curso>
<div class="row">
    <div class="card" *ngFor="let curso of cursos">
        <img  class="card-img-top" src={{curso.imagemInput}} alt="">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{curso.legendaInput}}</h6>
            <h5 class="card-title">{{curso.nomeInput}}</h5>
            <p class="card-text">{{curso.descricaoInput}}</p>
        </div>
    </div>
</div>

