
h1{
    color:darkblue;
    text-align: center;
}
p{
    color:rebeccapurple;
    font-family: Impact, Haettenschweiler;
    font-size: 20px;
}
strong{
    color:black;
    background-color: rgb(255, 153, 0);
}
#item{
    border-bottom: 1px dashed #000000;
}
