.form-control{
    width: 50%;
    margin: 5px;
}

.btn {
    width: auto;
    margin: 3px;
}

.card-img-top{
    width: 30%;
}

.zero{
    background-color:rgb(59, 59, 59);
    color:white;
}

.um{
    background-color: white;
    color:black;
}