<article>
    <img [ngStyle]="centralizarImagem()" class="bossiniS2" src="assets/bossini.jpeg">
    <h2>Professores</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                
                <th>Link do lattes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rodrigo Bossini</td>
                
                <td><a href="http://lattes.cnpq.br/6239865403144513">Lattes do professor</a></td>
            </tr>
            <tr>
                <td>Marco Antonio Furlan De Souza</td>
                
                <td><a href="http://lattes.cnpq.br/5269353063539434">Lattes do professor</a></td>
            </tr>
            <tr>
                <td>Aparecido Valdemir de Freitas</td>
                
                <td><a href="http://lattes.cnpq.br/7066902372313632">Lattes do professor</a></td>
            </tr>
        </tbody>
    </table>
</article>