<h2>Sugestões</h2>
    <form class="form-group">
        <div class="nome">
            <label for="">Nome completo</label>
            <input type="text" class="form-control" placeholder="Nome Completo">
        </div>
        <div class="matriculado">
            <input class="matriculado" type="checkbox">
            <label class="aluno">Sou aluno da Mauá</label>
        </div>
        <div class="email">
            <label for="">E-mail</label>
            <input type="email" class="form-control" placeholder="nome@email.com.br">
        </div>
        <div class="form-group">
            <label for="">Sugestão</label>
            <textarea class="form-control" placeholder="Escreva sua sugestão" rows="6"></textarea>
        </div>
        <button class="btn btn-primary" type="button">Enviar</button>
    </form>